<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="结构化数据库CSV拆分" type="System.Configuration.DictionarySectionHandler"/>
		<section name="合并CSV-时间模式" type="System.Configuration.DictionarySectionHandler"/>
		<section name="合并CSV-txt模式" type="System.Configuration.DictionarySectionHandler"/>
		<section name="去除CSV头部信息" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>
	<结构化数据库CSV拆分>
		<!--data原csv数据路径-->
		<add key="orignaldatapath" value="D:/DATABASEModel/Database.csv" />
		<!--工况模版csv数据路径-->
		<add key="conditionmodelpath" value="D:/DATABASEModel/ConditionBase.csv" />
		<add key="savedatapath" value="D:/DATABASEModel/DatabaseEditfordata.csv" />
		<add key="saveconditionpath" value="D:/DATABASEModel/DatabaseEditforballast.csv" />
		<!--以下字典，不要动-->
		<add key="standard" value="GD,SD,ATPV,BSD,PTD,EGD,ESGD,SSD" />
		<add key="phase" value="SIMU,EP2,EP1,MULE,MULE1,MULE+,MULE2,SIMU1,SIMU2,EP,MULE1+" />
		<add key="ballast" value="LVW,GVW,SVW" />
		<add key="selectedcollumn" value="DataID,ProjectID,VehicleID,Phase,Ballast,ChanTitle,Duty,TestName,Units,DamageK1,DamageK2,DamageK3,DamageK35,DamageK4,DamageK45,DamageK5,DamageK55,DamageK6,DamageK65,DamageK7,DamageK8,DamageK9,DamageK100,Max,Min,RMS,Range,Duration,Mean,SampleRate" />
	</结构化数据库CSV拆分>
	<合并CSV-时间模式>
		<!--原csv文件夹路径-->
		<add key="orignaldatapath" value="D:\TEST\input" />
		<add key="savedatapath" value="D:\TEST\Combined" />
		<add key="selectdatefile" value="02_18" />
	</合并CSV-时间模式>
	<合并CSV-txt模式>
		<!--原csv文件夹路径-->
		<add key="orignaldatapath" value="D:\TEST\input" />
		<add key="savedatapath" value="D:\TEST\Combined" />
		<add key="selectdatefile" value="02_18" />
	</合并CSV-txt模式>
	<去除CSV头部信息>
		<!--原csv文件夹路径-->
		<add key="orignaldatapath" value="D:\TEST\input" />
		<add key="savedatapath" value="D:\TEST\Combined" />
	</去除CSV头部信息>
</configuration>