<configuration>
	<CSV清洗模式>
		<!--原数据路径-->
		<orignaldatapath>D:\TEST\input</orignaldatapath>
		<!--保存路径-->
		<savedatapath>D:\TEST\clean</savedatapath>
		<!--选择的日期文件，可以多写，以逗号分割，也可以写all，就是选择所有的日期文件-->
		<selectdatefile>all</selectdatefile>
		<!--改值规则，不要改动-->
		<cleannumreg>-1,-2,-3,-100</cleannumreg>
		<!--nan改值，不要改动-->
		<cleanstringreg>nan</cleanstringreg>
		<!--改名，如不需要改名则填same-->
		<renamereg>same</renamereg>
		<!--gps速度的列号-->
		<gpsspdindex>3</gpsspdindex>
		<!--can速度的列号-->
		<canspdindex>9</canspdindex>
	</CSV清洗模式>
	<CSVSpike模式>
		<!--原数据路径-->
		<orignaldatapath>D:\TEST\input</orignaldatapath>
		<!--保存路径-->
		<savedatapath>D:\TEST\clean</savedatapath>
		<!--选择的日期文件，可以多写，以逗号分割，也可以写all，就是选择所有的日期文件-->
		<selectdatefile>all</selectdatefile>
		<!--需要去除毛刺的列名，可以多个-->
		<columnsname>acc_x_st_lf</columnsname>
		<!--算法参数，均值点数-->
		<meanpoints>15</meanpoints>
		<!--算法参数，方差点数-->
		<vairancepoints>5</vairancepoints>
		<!--算法参数，最大方差的百分比，用于判断是否为spike的参数-->
		<threadspercentage>0.02</threadspercentage>
	</CSVSpike模式>

	<结构化数据库CSV拆分>
		<!--原database数据路径-->
		<orignaldatapath>D:/DATABASEModel/Database.csv</orignaldatapath>
		<conditionmodelpath>D:/DATABASEModel/ConditionBase.csv</conditionmodelpath>
		<savedatapath>D:/DATABASEModel/DatabaseEditfordata.csv</savedatapath>
		<saveconditionpath>D:/DATABASEModel/DatabaseEditforballast.csv</saveconditionpath>
		<standard>GD,SD,ATPV,BSD,PTD,EGD,ESGD,SSD</standard>
		<phase>SIMU,EP2,EP1,MULE,MULE1,MULE+,MULE2,SIMU1,SIMU2,EP,MULE1+</phase>
		<ballast>LVW,GVW,SVW</ballast>
		<selectedcollumn>DataID,ProjectID,VehicleID,Phase,Ballast,ChanTitle,Duty,TestName,Units,DamageK1,DamageK2,DamageK3,DamageK35,DamageK4,DamageK45,DamageK5,DamageK55,DamageK6,DamageK65,DamageK7,DamageK8,DamageK9,DamageK100,Max,Min,RMS,Range,Duration,Mean,SampleRate</selectedcollumn>
	</结构化数据库CSV拆分>
	<合并CSV-时间模式>
		<!--原数据路径-->
		<orignaldatapath>D:\TEST\input</orignaldatapath>
		<!--保存路径-->
		<savedatapath>D:\TEST\Combined</savedatapath>
		<!--选择的日期文件，可以多写，以逗号分割，也可以写all，就是选择所有的日期文件-->
		<selectdatefile>all</selectdatefile>
		<!--线程数量，测试下来还是1最快，所以就不要改了-->
		<threadsnum>1</threadsnum>
	</合并CSV-时间模式>
	<合并CSV-txt模式>
		<!--原数据路径-->
		<orignaldatapath>D:\TEST\input</orignaldatapath>
		<!--保存路径-->
		<savedatapath>D:\TEST\Combined</savedatapath>
		<!--选择的日期文件，可以多写，以逗号分割，也可以写all，就是选择所有的日期文件-->
		<selectdatefile>all</selectdatefile>
		<!--线程数量，测试下来还是1最快，所以就不要改了-->
		<threadsnum>1</threadsnum>
	</合并CSV-txt模式>
	<合并CSV-里程模式>
		<!--原数据路径-->
		<orignaldatapath>D:\TEST\input</orignaldatapath>
		<!--保存路径-->
		<savedatapath>D:\TEST\Combined</savedatapath>
		<!--选择的日期文件，可以多写，以逗号分割，也可以写all，就是选择所有的日期文件-->
		<selectdatefile>all</selectdatefile>
		<!--速度的列号-->
		<spdindex>3</spdindex>
		<!--单位里程值单位是米-->
		<mileagebasis>10000</mileagebasis>
		<!--线程数量，测试下来还是1最快，所以就不要改了-->
		<threadsnum>1</threadsnum>
	</合并CSV-里程模式>
	<去除CSV头部信息>
		<!--原数据路径-->
		<orignaldatapath>D:\TEST\input</orignaldatapath>
		<!--保存路径-->
		<savedatapath>D:\TEST\Combined</savedatapath>
	</去除CSV头部信息>
</configuration>